@import "../../../styles.scss";

.comments {
  @include themify($themes) {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    margin-top: 2rem;
    
    .comment {
      display: flex;
      gap: 0.4rem;
      align-items: center;

      .cleft {
        flex: 5;
        display: flex;
        gap: 0.5rem;

        img {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          object-fit: cover;
        }

        .cmiddle{
          display: flex;
          flex-direction: column;
          gap: 0.4rem;
          p {
            padding: 0;
            margin: 0;
            font-style: 12px;
            a {
              text-decoration: none;
              color: inherit;
              font-weight: bold;
            }

          }
          
          p:first-child {
            font-weight: bold;
            font-style: 14px;
            color: themed('textColorSoft');
          }
        }

      }

      .cinput {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex: 5;
        gap: 1rem;


        textarea {
          width: 100%;
          outline: none;
          font-size: 16px;
          border: 1px solid themed('textColorSoft');
          background-color: transparent;
          color: themed('textColor');
          font-size: 18px;
          border-radius: 8px;
          padding: 5px;
        }
      }

      .cright {
        flex: 1;
        
        span {
          color: themed('textColorSoft');
        }
      }

            
    }
  }
}