.theme-light .comments {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  margin-top: 2rem;
}
.theme-light .comments .comment {
  display: flex;
  gap: 0.4rem;
  align-items: center;
}
.theme-light .comments .comment .cleft {
  flex: 5;
  display: flex;
  gap: 0.5rem;
}
.theme-light .comments .comment .cleft img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.theme-light .comments .comment .cleft .cmiddle {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}
.theme-light .comments .comment .cleft .cmiddle p {
  padding: 0;
  margin: 0;
  font-style: 12px;
}
.theme-light .comments .comment .cleft .cmiddle p a {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
}
.theme-light .comments .comment .cleft .cmiddle p:first-child {
  font-weight: bold;
  font-style: 14px;
  color: #555;
}
.theme-light .comments .comment .cinput {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 5;
  gap: 1rem;
}
.theme-light .comments .comment .cinput textarea {
  width: 100%;
  outline: none;
  font-size: 16px;
  border: 1px solid lightgray;
  background-color: transparent;
  color: #000;
  font-size: 18px;
  border-radius: 8px;
  padding: 5px;
}
.theme-light .comments .comment .cright {
  flex: 1;
}
.theme-light .comments .comment .cright span {
  color: #555;
}
.theme-light .comments .comment .cright button {
  justify-self: flex-end;
  border: none;
  color: #fff;
  background-color: #5271ff;
  padding: 10px;
  cursor: pointer;
  border-radius: 3px;
}
.theme-dark .comments {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  margin-top: 2rem;
}
.theme-dark .comments .comment {
  display: flex;
  gap: 0.4rem;
  align-items: center;
}
.theme-dark .comments .comment .cleft {
  flex: 5;
  display: flex;
  gap: 0.5rem;
}
.theme-dark .comments .comment .cleft img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.theme-dark .comments .comment .cleft .cmiddle {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}
.theme-dark .comments .comment .cleft .cmiddle p {
  padding: 0;
  margin: 0;
  font-style: 12px;
}
.theme-dark .comments .comment .cleft .cmiddle p a {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
}
.theme-dark .comments .comment .cleft .cmiddle p:first-child {
  font-weight: bold;
  font-style: 14px;
  color: rgb(185, 175, 175);
}
.theme-dark .comments .comment .cinput {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 5;
  gap: 1rem;
}
.theme-dark .comments .comment .cinput textarea {
  width: 100%;
  outline: none;
  font-size: 16px;
  border: 1px solid #444;
  background-color: transparent;
  color: whitesmoke;
  font-size: 18px;
  border-radius: 8px;
  padding: 5px;
}
.theme-dark .comments .comment .cright {
  flex: 1;
}
.theme-dark .comments .comment .cright span {
  color: rgb(185, 175, 175);
}
.theme-dark .comments .comment .cright button {
  justify-self: flex-end;
  border: none;
  color: #fff;
  background-color: #5271ff;
  padding: 10px;
  cursor: pointer;
  border-radius: 3px;
}/*# sourceMappingURL=comments.css.map */