@import "../styles.scss";

  
.home {
  @include themify($themes) {

    flex: 6;
    padding: 20px 70px;
    background-color: themed('bgSoft');

    @include mobile(){
      padding: 10px 5px;
    }


    @include tablet(){
      padding: 10px;
    }


  }
}