.loign {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(132, 132, 202);
  .card {
    .left {
      h1 {
      }
      p {
      }

      span {
      }
      button {
      }
    }

    .right {
      h1{

      }

      form{
        input{

        }
        button{

        }
      }

    }
  }
}
