.login {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(132, 132, 202);

  .card {
    display: flex;
    justify-content: center;
    width: 50%;
    min-height: 500px;
    background: #fff;
    border-radius: 2rem;

    .left {
      flex: 1;
      background: linear-gradient(rgba(39, 11, 96,0.3), rgba(39, 11, 96, 0.8)) ,url('https://images.pexels.com/photos/7741762/pexels-photo-7741762.jpeg?auto=compress&cs=tinysrgb&w=400') center;
      background-size: cover;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      color: #fff;
      align-items: center;
      padding-left: 0.75rem;
      line-height: 120%;

      h1 {
        font-size: 4rem;
      }
      p {
        font-size: 1.15rem;
      }

      span {
        align-self: flex-start;
        padding-left: 1.25rem;
        font-size: 0.9rem;
        margin-bottom:  -25px;

      }

      button {
        font-size: 2rem;
        font-weight: bold;
        padding: 0.5rem 2rem;
        border-radius: 7px;
        border: none;
      }

      button:hover  {
        color: #fff;
        background: rgb(132, 132, 202);
        cursor: pointer;
      }
    }

    .right {
      padding-top: 1.5rem;
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 2.5rem;
      padding-left: 0.75rem;
      line-height: 120%;

      h1{
        align-self: center;
        display: flex;
        flex-direction: column;
        gap: 12px;
        span {
          width: 100%;
          height: 2px;
          background-color: rgb(132, 132, 202);
        }

      }

      form{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding: 0 0.75rem;
        line-height: 120%;

        input{
          border: none;
          border-bottom: 1px solid lightgray;
          padding-bottom: 0.5rem;
          font-size: 1.15rem;
          outline: none;
          color: rgb(132, 132, 202);

        }

        input:focus {
          border: none;
          border-bottom: 1px solid lightgray;

        }

        button{
          font-size: 2rem;
          font-weight: bold;
          padding: 0.5rem 2rem;
          border-radius: 7px;
          border: none;
          background: rgb(132, 132, 202);
        }
        button:hover  {
          color: rgb(132, 132, 202);
          background: #fff;
          cursor: pointer;
        }

      }

    }
  }
}
