@import "../../styles.scss";

.stories {
  @include themify($themes) {
    display: flex;
    height: 150px;
    margin-bottom: 2rem;
    gap: 10px;
    width: 100%;

    img {
      width: 100%;
    }

    @include mobile(){
      height: 60px;
    }

    overflow-x: hidden;

    @include tablet(){
      height: 100px;
    }

    
    .story {
      flex: 1;
      border-radius: 10px;
      position: relative;
      display: flex;
      
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      span {
        position: absolute;
        bottom: 0.8rem;
        color: white;
        background: #000;
        margin: 0 5px;

        @include mobile(){
          display: none;
        }



      }

      button {
        position: absolute;
        bottom: 2.5rem;
        margin: 0 10px;
        color: #fff;
        background: blue;
        border: none;
        border-radius: 50%;
        font-weight: bold;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
      }
    }
  }

}