@import "../styles.scss";

.header-bar {
  @include themify($themes) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    border-bottom: 1px solid themed('border');
    position: sticky;
    top: 0;
    background-color: themed('bg');
    color: themed('textColor');
    padding: 0 1rem;
    z-index: 1000;

    .left{
      display: flex;
      align-items: center;
      column-gap: 0.5rem;
      cursor: pointer;

    .logo {
      text-decoration: none;
      color: themed('textColor');
      font-size: 1.25rem;
      font-weight: bold;
    }

    .search {
      display: flex;
      align-items: center;
      column-gap: 3px;
      padding-left: -25px;
      border: 1px solid themed('border');
      border-radius: 0.25rem;

      @include mobile(){
        border: none;
      }
    }

      .search-btn {
        cursor: pointer;
      }

      input {
        border: none;
        width: 30vw;
        outline: none;
        font-size: 16px;
        background-color: transparent;
        color: themed('textColor');

        @include mobile(){
          display: none;
        }
      }
    }

    .right{
      display: flex;
      align-items: center;
      column-gap: 3px;
      gap: 10px;

      .prof-icon {
        display: flex;
        column-gap: 3px;
        align-items: center;
        gap: 10px;

        img {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          object-fit: cover;
        }

        @include mobile(){
          span {
            display: none;
          }
        }
      }
    }
  }
}
