.theme-light .header-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  border-bottom: 1px solid lightgray;
  position: sticky;
  top: 0;
  background-color: white;
  color: #000;
  padding: 0 1rem;
  z-index: 1000;
}
.theme-light .header-bar .left {
  display: flex;
  align-items: center;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
  cursor: pointer;
}
.theme-light .header-bar .left .logo {
  text-decoration: none;
  color: #000;
  font-size: 1.25rem;
  font-weight: bold;
}
.theme-light .header-bar .left .search {
  display: flex;
  align-items: center;
  -moz-column-gap: 3px;
       column-gap: 3px;
  padding-left: -25px;
  border: 1px solid lightgray;
  border-radius: 0.25rem;
}
@media (max-width: 480px) {
  .theme-light .header-bar .left .search {
    border: none;
  }
}
.theme-light .header-bar .left .search-btn {
  cursor: pointer;
}
.theme-light .header-bar .left input {
  border: none;
  width: 30vw;
  outline: none;
  font-size: 16px;
  background-color: transparent;
  color: #000;
}
@media (max-width: 480px) {
  .theme-light .header-bar .left input {
    display: none;
  }
}
.theme-light .header-bar .right {
  display: flex;
  align-items: center;
  -moz-column-gap: 3px;
       column-gap: 3px;
  gap: 10px;
}
.theme-light .header-bar .right .prof-icon {
  display: flex;
  -moz-column-gap: 3px;
       column-gap: 3px;
  align-items: center;
  gap: 10px;
}
.theme-light .header-bar .right .prof-icon img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 960px) {
  .theme-light .header-bar .right .prof-icon span {
    display: none;
  }
}
@media (max-width: 480px) {
  .theme-light .header-bar .right .prof-icon span {
    display: none;
  }
}
.theme-dark .header-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  border-bottom: 1px solid #444;
  position: sticky;
  top: 0;
  background-color: #222;
  color: whitesmoke;
  padding: 0 1rem;
  z-index: 1000;
}
.theme-dark .header-bar .left {
  display: flex;
  align-items: center;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
  cursor: pointer;
}
.theme-dark .header-bar .left .logo {
  text-decoration: none;
  color: whitesmoke;
  font-size: 1.25rem;
  font-weight: bold;
}
.theme-dark .header-bar .left .search {
  display: flex;
  align-items: center;
  -moz-column-gap: 3px;
       column-gap: 3px;
  padding-left: -25px;
  border: 1px solid #444;
  border-radius: 0.25rem;
}
@media (max-width: 480px) {
  .theme-dark .header-bar .left .search {
    border: none;
  }
}
.theme-dark .header-bar .left .search-btn {
  cursor: pointer;
}
.theme-dark .header-bar .left input {
  border: none;
  width: 30vw;
  outline: none;
  font-size: 16px;
  background-color: transparent;
  color: whitesmoke;
}
@media (max-width: 480px) {
  .theme-dark .header-bar .left input {
    display: none;
  }
}
.theme-dark .header-bar .right {
  display: flex;
  align-items: center;
  -moz-column-gap: 3px;
       column-gap: 3px;
  gap: 10px;
}
.theme-dark .header-bar .right .prof-icon {
  display: flex;
  -moz-column-gap: 3px;
       column-gap: 3px;
  align-items: center;
  gap: 10px;
}
.theme-dark .header-bar .right .prof-icon img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 960px) {
  .theme-dark .header-bar .right .prof-icon span {
    display: none;
  }
}
@media (max-width: 480px) {
  .theme-dark .header-bar .right .prof-icon span {
    display: none;
  }
}/*# sourceMappingURL=headerBar.css.map */