@import "../styles.scss";

.left-bar {
  @include themify($themes) {
    flex: 1.5;
    position: sticky;
    top: 70px;
    height: calc(100vh - 70px);
    overflow-y: scroll;
    overflow-x: hidden;
    padding-right: 10px;
    background-color:themed('bg');
    padding: 10px;
    color: themed('textColor');

    &::-webkit-scrollbar {
      display: none;
    }

    @include mobile(){
      display: none;
    }

    .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 0.45rem;
      width: 100%;

      p {
        padding: 0;
        margin: 0;
      }

      hr {
        padding: 0;
        height: 0;
        border: 1px solid themed('border');
        width: 100%;
      }

      .user {
        display: flex;
        align-items: center;
        gap: 0.3rem;

        img {
          width: 30px;
          height: 30px;
          object-fit: cover;
          border-radius: 50%;
        }

        span {
          font-style: 18px;
          font-weight: bold;
          text-transform: capitalize;
    
        }
    }

    .item {
      display: flex;
      align-items: center;
      gap: 0.4rem;
      cursor: pointer;


      img {
        width: 25px;
        height: 25px;
        object-fit: cover;
      }

      span {
        font-style: 20px;
        font-weight: bold;
        text-transform: capitalize;

      }
    }
    }
  }
}