.rightBar{
  flex: 3;
  position: sticky;
  position: -webkit-sticky;
  top: 71px;
  height: calc(100vh - 71px);
  overflow-y: scroll;
  overflow-x: hidden;
  padding-right: 10px;
  &::-webkit-scrollbar {
    display: none;
  }

  .container {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .item {
      background-color: #f0ecec;
      // border: 3px solid #e9dfdf;
      border-radius: 0.6rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding: 5px;
      .user {
        display: flex;
        justify-content: space-between;
        
        .user-info {
          display: flex;
          align-items: center;

          img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            object-fit: cover;
            text-align: center;
          }

        }

        .user-buttons {
          display: flex;
          align-items: center;
          gap: 0.5rem;
          padding-right: 4px;

          :first-child {
            background-color: #0d8add;
            border: none;
            padding: 4px 8px;
            border-radius: 3px;
            cursor: pointer;
            font-size: 16px;
          }

          :last-child {
            background-color: red;
            border: none;
            padding: 4px 8px;
            border-radius: 3px;
            cursor: pointer;
            font-size: 16px;
          }

        }


      }
    }
  }


}