.theme-light .profile {
  flex: 6;
  padding: 20px 70px;
  background-color: #f6f3f3;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  color: #000;
}
.theme-light .profile img {
  width: 100%;
}
@media (max-width: 480px) {
  .theme-light .profile {
    padding: 10px 5px;
  }
}
@media (max-width: 1200px) {
  .theme-light .profile {
    padding: 10px;
  }
}
.theme-light .profile .images {
  position: relative;
  border-radius: 2rem;
  height: 300px;
}
@media (max-width: 480px) {
  .theme-light .profile .images {
    height: 150px;
  }
}
.theme-light .profile .images .cover {
  border-radius: 0.5rem;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.theme-light .profile .images .profilePict {
  position: absolute;
  width: 150px;
  height: 150px;
  bottom: -50px;
  left: calc(50% - 75px);
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 480px) {
  .theme-light .profile .images .profilePict {
    height: 75px;
    width: 75px;
    left: calc(50% - 37.5px);
  }
}
.theme-light .profile .userContainer {
  box-shadow: 7px 12px 13px -6px rgba(0, 0, 0, 0.52);
  -webkit-box-shadow: 7px 12px 13px -6px rgba(0, 0, 0, 0.52);
  -moz-box-shadow: 7px 12px 13px -6px rgba(0, 0, 0, 0.52);
  display: flex;
  padding: 2.5rem 1rem;
  flex-direction: column;
  border-radius: 10px;
  background-color: white;
  margin-bottom: 2rem;
}
@media (max-width: 480px) {
  .theme-light .profile .userContainer {
    padding: 1.5rem 0.5rem;
    margin-bottom: 0.8rem;
  }
}
.theme-light .profile .userContainer .user {
  display: flex;
  align-items: center;
  gap: 1rem;
}
@media (max-width: 480px) {
  .theme-light .profile .userContainer .user {
    flex-direction: column;
  }
}
.theme-light .profile .userContainer .user a {
  text-decoration: none;
  color: #000;
}
.theme-light .profile .userContainer .user .left {
  flex: 1;
  justify-self: flex-start;
}
.theme-light .profile .userContainer .user .center {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  gap: 1rem;
  flex-grow: 1;
}
.theme-light .profile .userContainer .user .center .location {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.theme-light .profile .userContainer .user .center .location a {
  display: flex;
  align-items: center;
  gap: 5px;
}
.theme-light .profile .userContainer .user .center button {
  border: none;
  color: #fff;
  background-color: #5271ff;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}
.theme-light .profile .userContainer .user .center p {
  padding: 0;
  margin: 0;
  font-weight: bold;
  font-size: 18px;
}
.theme-light .profile .userContainer .user .right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
}
.theme-dark .profile {
  flex: 6;
  padding: 20px 70px;
  background-color: #333;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  color: whitesmoke;
}
.theme-dark .profile img {
  width: 100%;
}
@media (max-width: 480px) {
  .theme-dark .profile {
    padding: 10px 5px;
  }
}
@media (max-width: 1200px) {
  .theme-dark .profile {
    padding: 10px;
  }
}
.theme-dark .profile .images {
  position: relative;
  border-radius: 2rem;
  height: 300px;
}
@media (max-width: 480px) {
  .theme-dark .profile .images {
    height: 150px;
  }
}
.theme-dark .profile .images .cover {
  border-radius: 0.5rem;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.theme-dark .profile .images .profilePict {
  position: absolute;
  width: 150px;
  height: 150px;
  bottom: -50px;
  left: calc(50% - 75px);
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 480px) {
  .theme-dark .profile .images .profilePict {
    height: 75px;
    width: 75px;
    left: calc(50% - 37.5px);
  }
}
.theme-dark .profile .userContainer {
  box-shadow: 7px 12px 13px -6px rgba(0, 0, 0, 0.52);
  -webkit-box-shadow: 7px 12px 13px -6px rgba(0, 0, 0, 0.52);
  -moz-box-shadow: 7px 12px 13px -6px rgba(0, 0, 0, 0.52);
  display: flex;
  padding: 2.5rem 1rem;
  flex-direction: column;
  border-radius: 10px;
  background-color: #222;
  margin-bottom: 2rem;
}
@media (max-width: 480px) {
  .theme-dark .profile .userContainer {
    padding: 1.5rem 0.5rem;
    margin-bottom: 0.8rem;
  }
}
.theme-dark .profile .userContainer .user {
  display: flex;
  align-items: center;
  gap: 1rem;
}
@media (max-width: 480px) {
  .theme-dark .profile .userContainer .user {
    flex-direction: column;
  }
}
.theme-dark .profile .userContainer .user a {
  text-decoration: none;
  color: whitesmoke;
}
.theme-dark .profile .userContainer .user .left {
  flex: 1;
  justify-self: flex-start;
}
.theme-dark .profile .userContainer .user .center {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  gap: 1rem;
  flex-grow: 1;
}
.theme-dark .profile .userContainer .user .center .location {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.theme-dark .profile .userContainer .user .center .location a {
  display: flex;
  align-items: center;
  gap: 5px;
}
.theme-dark .profile .userContainer .user .center button {
  border: none;
  color: #fff;
  background-color: #5271ff;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}
.theme-dark .profile .userContainer .user .center p {
  padding: 0;
  margin: 0;
  font-weight: bold;
  font-size: 18px;
}
.theme-dark .profile .userContainer .user .right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
}/*# sourceMappingURL=profile.css.map */