@import "../styles.scss";

.profile {
  @include themify($themes) {
    flex: 6;
    padding: 20px 70px;
    background-color: themed('bgSoft');
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    color: themed('textColor');

    img {
      width: 100%;
    }

    @include mobile(){
      padding: 10px 5px;
    }

    @include tablet(){
      padding: 10px;
    }


    .images {
      position: relative;
      border-radius: 2rem;
      height: 300px;

      @include mobile(){
        height: 150px;
      }


      .cover  {
        border-radius: 0.5rem;
        height: 100%;
        width: 100%;
        object-fit: cover;
      }

      .profilePict {
        position: absolute;
        width: 150px;
        height: 150px;
        bottom: -50px;
        left: calc(50% - 75px);
        border-radius: 50%;
        object-fit: cover;

        @include mobile(){
          height: 75px;
          width: 75px;
          left: calc(50% - (75px/2));
        }
      }
    }

    .userContainer {
      box-shadow: 7px 12px 13px -6px rgba(0,0,0,0.52);
      -webkit-box-shadow: 7px 12px 13px -6px rgba(0,0,0,0.52);
      -moz-box-shadow: 7px 12px 13px -6px rgba(0,0,0,0.52);
      display: flex;
      padding: 2.5rem 1rem;
      flex-direction: column;
      border-radius: 10px;
      background-color: themed('bg');
      margin-bottom: 2rem;


      @include mobile(){
        padding: 1.5rem 0.5rem;
        margin-bottom: 0.8rem;
      }

      .user {
        display: flex;
        align-items: center;
        gap: 1rem;

        @include mobile(){
          flex-direction: column;
        }


        a {
          text-decoration: none;
          color: themed('textColor');
        }

        .left {
          flex: 1;
          justify-self: flex-start;
        }
        
        
        .center {
          flex: 1;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-self: center;
          gap: 1rem;
          flex-grow: 1;

          .location {
            display: flex;
            align-items: center;
            gap: 1rem;

            a {
              display: flex;
              align-items: center;
              gap: 5px;
            }
          }

          button {
            border: none;
            color: #fff;
            background-color: #5271ff;
            padding: 10px;
            cursor: pointer;
            border-radius: 5px;
          }

          p {
            padding: 0;
            margin: 0;

            font-weight: bold;
            font-size: 18px;
          }
        }

        .right {
          flex: 1;
          display: flex;
          justify-content: end;
          gap: 0.5rem;
        }


      }
    }

    


  }
}