@import "../../styles.scss";

.posts{
  @include themify($themes) {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    .post {

      display: flex;
      flex-direction: column;
      gap: 0.25rem;

      .user-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;



        .left {
          height: 3rem;
          display: flex;
          align-items: center;
          gap: 0.5rem;


          img {
            width: 3rem;
            height: 100%;
            border-radius: 50%;
            object-fit: cover;
          }

          .post-status {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 0.4rem;
          }
          

        }


        .right {

          display: flex;
          flex-direction: column;
          align-items: center;
          cursor: pointer;
          gap: 3px;

          span {
            width: 6px;
            height: 6px;
            background-color: #000;
            border-radius: 50%;
          }

        }

      }

      .reactions {
        display: flex;
        align-items: center;
        gap: 2rem;

        .icons {
          display: flex;
          align-items: center;
          gap: 0.4rem
        }
      }
    }
  }
}