@import "../../styles.scss";

.posts{
  @include themify($themes) {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    img {
      width: 100%;
    }


    @include mobile(){
      gap: 1rem;
    }

    .post {
      background-color: themed('bg');
      color: themed('textColor');
      box-shadow: 7px 12px 13px -6px rgba(0,0,0,0.52);
      -webkit-box-shadow: 7px 12px 13px -6px rgba(0,0,0,0.52);
      -moz-box-shadow: 7px 12px 13px -6px rgba(0,0,0,0.52);
      border-radius: 20px;
      padding: 20px;

      display: flex;
      flex-direction: column;
      gap: 1rem;

      .user {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;



        .left {
          height: 3rem;
          display: flex;
          align-items: center;
          gap: 0.5rem;


          img {
            width: 3rem;
            height: 100%;
            border-radius: 50%;
            object-fit: cover;
          }

          .post-status {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 0.3rem;

            span {
              a {
                text-decoration: none;
                color: inherit;
                font-weight: bold;
              }
            }

            .date {
              font-size: 12px;
              color: themed('textColorSoft');
            }
          }
          

        }


        .right {

          display: flex;
          flex-direction: column;
          align-items: center;
          cursor: pointer;
          gap: 3px;

          span {
            width: 6px;
            height: 6px;
            background-color: themed('textColor');
            border-radius: 50%;
          }
        }
      }

      .post-info {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;

        p {
          margin: 0;
          padding: 0;
        }
      }

      .reactions {
        display: flex;
        align-items: center;
        gap: 2rem;

        .icons {
          display: flex;
          align-items: center;
          gap: 0.4rem;

          :first-child {
            cursor: pointer;
          }
          
        }
      }
    }
  }
}